{% extends "../base.html" %}
{% block page_header %}
<link rel="stylesheet" href="{{ static_url('plugins/datatables/dataTables.bootstrap.css') }}">
{% end %}
{% block content_header %}
    <h1>容器管理</h1>
{% end %}
{% block content %}
<div class="box">
  <div class="box-header">
    <h3 class="box-title">容器(Container)管理</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th >Id</th>
        <th >Image</th>
        <th >Command</th>
        <th >Created</th>
        <th >Status</th>
        <th >所属节点</th>
        <th >操作</th>
      </tr>
      </thead>
      <tbody>
        {% for container in con_list %}
        <tr>
          <td>{{container['Id']}}</td>
          <td>{{container['Image']}}</td>
          <td>{{container['Command']}}</td>
          <td>{{container['Created']}}</td>
          <td>{{container['Status']}}</td>
          <td>{{container['node']}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#condetail" data-con_id="{{container['Id']}}" data-node="{{container['node']}}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-xs btn-warning" con_id="{{container['Id']}}" node="{{container['node']}}" onclick="con_action(this,'start')"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-xs btn-info" con_id="{{container['Id']}}" node="{{container['node']}}" onclick="con_action(this,'stop')"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-xs btn-danger" con_id="{{container['Id']}}" node="{{container['node']}}" onclick="con_action(this,'remove')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
            </td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->

<!-- Modal -->
<div class="modal fade" id="condetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" style="word-break:break-all">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="alertmodal" tabindex="-1" role="dialog" aria-labelledby="alertmodal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="ModalConfirmButton">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal3 -->
<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="addmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="ModalAddConfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal4 -->
<div class="modal fade" id="updatemodal" tabindex="-1" role="dialog" aria-labelledby="updatemodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="ModalUpdateConfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>
</div>
{% end %}
{% block js_part %}
<!-- DataTables -->
<script src="{{ static_url('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ static_url('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

<script>
  function con_action(obj,action_type) {
          var action = $(action_type);
          var con_id = $(obj).attr('con_id');
          var node = $(obj).attr('node');
          var req_url = 'http://'+node+'/containers/'+con_id+'/stop';
          $.ajax({
              url: '/api/con',
              type: 'GET',
              data:{
                'con_id':con_id,
                'node_ip_port':node,
                'action': action_type
              }
            });
            window.location.reload(true);
    }

$(function () {

    $("#condetail").on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var con_id = button.data('con_id');
      var node = button.data('node');

      var req_url = 'http://'+node+'/containers/'+con_id+'/json';
      $.ajax({
          url: '/api/con',
          type: 'GET',
          data:{
            'con_id':con_id,
            'node_ip_port':node,
            'type':'GET',
            'action': 'inspect'
          },
          success: function (data) {
              var table_content = data;
              $("#condetail").find(".modal-body").text(table_content);
          }
        });

    });

    $("#example1").DataTable();

});
</script>
{% end %}